<div class="form-group">
    <ul>
        <li>
            <p>Nom: <span>{{etudiant.nom}}</span></p>
        </li>
        <li>
            <p>Prenom: <span>{{etudiant.prenom}}</span></p>
        </li>
    </ul>
</div>
<table style="margin-top: 2rem;" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" style="background-color: #333; color: white;">epreuve</th>
      <th scope="col" style="background-color: #333;color: white;">matiere</th>
      <th scope="col" style="background-color: #333;color: white;">note</th>
    </tr>
  </thead>
  <tbody id="tbodyNote">
    {% for note in notes %} 
            <tr>
              <td>{{note.epreuve.desingation}}</td> 
              <td>{{note.epreuve.matiere.designation}}</td>
              <td><input type="text" value="{{note.note}}" style="border: none;" id="updateNote" data-id="{{note.id}}"></td>
              
            </tr>
    {% endfor %} 
  </tbody>
</table>
