{% extends 'base.html.twig' %}

{% block title %}Frais{% endblock %}

{% block body %}
<div class="container " style="font-size: 1.4rem;">

  <div class="row">
    
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFrais"> Ajouter Frais</button>
    </div>


    <div class="col-md-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#printFacture"> Imprimer facture</button>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <h3>Listes des frais :</h3>
      <div class="table-responsive">


        <table id="fraistable" class="table table-bordred table-striped">

          <thead>
            <th>#</th>
            <th>Classe</th>
            <th>Designation</th>
            <th>Prix</th>
          </thead>
          <tbody>


            {% for frais in frais %}
            <tr>
              <td>{{frais.id}}</td>
              <td>{{frais.classe.designation}}</td>
              <td>{{frais.designation}}</td>
              <td>{{frais.prix}}</td>
            </tr>
            {% endfor %}





          </tbody>

        </table>



      </div>

    </div>
  </div>
</div>
<!-- model add frais-->
<div class="modal fade" id="addFrais" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter frais</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="addFraisForm">
                <div class="mb-3">
                  <label for="classe" class="form-label">Classe</label>
                  <select name="classe" class="form-control" id="classe">
                      {% for classe in classes %}
                     <option value="{{classe.id}}">{{classe.designation}}</option>
                     {% endfor %}
                  </select>
                </div>

                <div class="mb-3">
                    <label for="designation" class="form-label">Designation</label>
                    <input type="text" name="designation" class="form-control" id="designation">
                </div>

                <div class="mb-3">
                    <label for="prix" class="form-label">Prix</label>
                    <input type="text" name="prix" class="form-control" id="prix">
                </div>

                <button type="submit" class="btn btn-primary" style="font-size: 1.4rem;">Submit</button>
              </form>
        </div>
      </div>
    </div>
  </div>
<!-- model add frais-->
<div class="modal fade" id="addFrais" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter frais</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="addFraisForm">
                <div class="mb-3">
                  <label for="classe" class="form-label">Classe</label>
                  <select name="classe" class="form-control" id="classe">
                      {% for classe in classes %}
                     <option value="{{classe.id}}">{{classe.designation}}</option>
                     {% endfor %}
                  </select>
                </div>

                <div class="mb-3">
                    <label for="designation" class="form-label">Designation</label>
                    <input type="text" name="designation" class="form-control" id="designation">
                </div>

                <div class="mb-3">
                    <label for="prix" class="form-label">Prix</label>
                    <input type="text" name="prix" class="form-control" id="prix">
                </div>

                <button type="submit" class="btn btn-primary" style="font-size: 1.4rem;">Submit</button>
              </form>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}