<div class="form-group">
    <ul>
        <li>
            <p>Nom: <span>{{professeur.name}}</span></p>
        </li>
        <li>
            <p>Prenom: <span>{{professeur.prenom}}</span></p>
        </li>
    </ul>
    <label class="col-md-3 control-label required" for="appbundle_theme_discipline" style="font-weight: bold">Classe</label>
    <div class="col-md-9 choosematiere">
        <select id="selectMatiere"  class="form-control input-sm ">
            <div style="height: 200px; overflow-y: scroll ">
            <option>Choisir une matiere</option>
            {%for matiere in matieres %}
                <option value="{{matiere.id}}">{{matiere.designation}}</option>
            {% endfor %}
            </div>
        </select>
        <button type="button" class="btn btn-secondary addProfesseurMatiere" data-idProfesseur='{{professeur.id}}'>ajouter</button>
    </div>
</div>
<table style="margin-top: 2rem;" class="table table-bordered matiereProfesseur">
  <thead>
    <tr>
      <th scope="col" style="background-color: #333; color: white;">Order</th>
      <th scope="col" style="background-color: #333;color: white;">Designation</th>
      <th scope="col" style="background-color: #333;color: white;">Action</th>
    </tr>
  </thead>
  <tbody id="tbodyAffectationMatiere">
    {% for i, matiere in professeur.matiere %}
        <tr>
            <td> {{ i + 1}} </td>
            <td> {{ matiere.designation}} </td>
            <td>  <i  class='bi bi-dash-circle desafecterProfesseurMatiere' data-idMatiere='{{matiere.id}}' data-idProfesseur='{{professeur.id}}'></i> </td>

        </tr>
    {% endfor %}
  </tbody>
</table>