<form id="form_facture">
<div class="form-group">
    <ul>
        <li>
            <p>Nom: <span>{{etudiant.nom}}</span></p>
        </li>
        <li>
            <p>Prenom: <span>{{etudiant.prenom}}</span></p>
        </li>
        <li>
            <p>Classe: <span>{{etudiant.classe.designation}}</span></p>
        </li>
    </ul>
    <label class="col-md-3 control-label required" for="appbundle_theme_discipline" style="font-weight: bold">Classe</label>
    <div class="col-md-9 chooseFrais">
        <select id="selectFrais"  class="form-control input-sm ">
            <div style="height: 200px; overflow-y: scroll ">
            <option>Choisir un frais</option>
            {%for frais in frais %}
                <option value="{{frais.id}}">{{frais.designation}}</option>
            {% endfor %}
            </div>
        </select>
        <button type="button" class="btn btn-secondary addEtudiantFrais">ajouter</button>
    </div>
</div>
<table style="margin-top: 2rem;" class="table table-bordered fraisEtudiant" name="tFacture">
  <thead>
    <tr>
      <th scope="col" style="background-color: #333; color: white;">Order</th>
      <th scope="col" style="background-color: #333;color: white;">Designation</th>
      <th scope="col" style="background-color: #333;color: white;">Prix</th>
      <th scope="col" style="background-color: #333;color: white;">Action</th>
    </tr>
  </thead>
  <tbody id="tbodyFacture">
  </tbody>
</table>
<input type="submit" value="Imprimer la facture" class="btn btn-secondary btn-xs printFacture" >

</form>