<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GDE - {% block title %}Dashboard{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {{ encore_entry_script_tags('app') }}
            {# {{ encore_entry_script_tags('amine') }} #}
        {% endblock %}
    </head>
    <body>
        
         <div class="sidebar ">
            <div class="sidebar__header">
                <h3>Gestion Ecole</h3>
            </div>
            <div class="sidebar__body">
                <ul class="ul">
                {% if is_granted('ROLE_PROF') == false %}
                    <li  class="li">
                        <a class="li__a"><span class="fas fa-users"></span><span>Etudiant</span> <i class="bi bi-caret-down-fill {% if li == "etudiant" %}    activeRotate {% endif %}"></i></a>
                        <ul {% if li == 'etudiant' %}  style="display: block;" {% endif %}>
                            {% if is_granted('ROLE_ADMIN') == false %}
                            <li>
                                <a href="{{path('etudiant_new')}}"><span class="fas fa-user-lock"></span><span>Ajouter etudiant</span></a>
                            </li>
                            {% endif %}
                            <li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{path('admin_etudiant_index')}}"><span class="fas fa-school"></span><span>List etudiant</span></a>
                            {% else %}
                                <a href="{{path('etudiant_index')}}"><span class="fas fa-school"></span><span>List etudiant</span></a>
                            {% endif %}
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    <li  class="li">
                        <a class="li__a"><span class="fas fa-users"></span><span>Classe</span> <i class="bi bi-caret-down-fill {% if li == 'classe' %} activeRotate {% endif %}"></i></a>
                        <ul {% if li == 'classe' %}  style="display: block;" {% endif %}>
                            <li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{path('admin_classe')}}"><span class="fas fa-user-lock"></span><span>Etudiant</span></a>
                            {% endif %}
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{path('admin_classeP')}}"><span class="fas fa-school"></span><span>Professeur</span></a>
                            </li>
                            {% elseif is_granted('ROLE_PROF') %}
                                {% if app.user.professeur.classe %}
                                    {% for classe in app.user.professeur.classe %}
                                    <li>
                                        <a href="{{path('professeur_show_classe', {'classe': classe.id})}}"><span class="fas fa-school"></span><span>{{classe.designation}}</span></a>
                                    </li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </ul>
                    </li>
                    <li  class="li">
                        <a class="li__a"><span class="fas fa-users"></span><span>Users</span> <i class="bi bi-caret-down-fill"></i></a>
                        <ul>
                            <li>
                                <a href=""><span class="fas fa-user-lock"></span><span>Admins</span></a>
                            </li>
                            <li>
                                <a href=""><span class="fas fa-school"></span><span>Students</span></a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
                <li class="li settings">
                    <a class="li__a"><span class="bi bi-gear-fill"></span><span>Settings</span></a>
                </li>
            </div>
        </div>

        <main class="content ">
            <header class="header">
                <div class="header__container">
                    <div class="header__logo">
                        <div class="header__logo--burger ">
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <h3>Dashboard</h3>
                    </div>
                    <div class="header__content">
                        
                    </div>
                    <div class="header__profile">
                        <div class="header__profile--image">
                            <p>Amine Moumni</p>
                            <img src="{{ asset('images/user.png') }}" alt="">
                            <!-- <i class="fas fa-sort-down" id="menuProfile"></i> -->
                        </div>

                        <div class="header__profile--menu">
                            
                            <p>Developer</p>

                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="{{path('app_logout')}}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>
