<html>

<head>
    <title>{{title}}</title>
</head>

<body>

    <div>
        <div >
            <div >
                <div style="text-align: center;">
                    <h5>{{title}}</h5>
                </div>
                <div >
                    <div style="font-weight: bold;">l'ecole GDE certifie que l'etudiant {{inscription.nom}}  {{inscription.prenom}} etudie dans le groupe scolaire GDE {{inscription.classe.designation}} dans l'annee scolaire de cette date d'attestation</div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>